
{% extends 'base.html' %}
{% block body %}


   <div class="jumbotron ">
    <div class="container" style="margin-right:300px" >
        <div class="media">
            <img src="\static\image\soil-testing.jpg" class="mr-3" alt="image not found" style="height: 300px;">
            <div class="media-body">
                <h3 class="mt-0" style="padding-left: 50px;" >how work it</h3>
                <p style="padding-left: 60px;">low cost smart soil monitoring system and a ph meter to use to 
                measure pH level. IOT-enabled sensors take very little time to set
                up and there is a long battery life, which leads to less maintenance costs.
                Soil health monitoring system is used to find characteristics of soil 
                such as soil moisture, soil temperature , ph level ,and humidity.
                These characteristics can be sensed by a open source hardware
                It consist of various part such   ESP8266 microcontroller, 
                FC-28 soil moisture sensor etc.
                </p>

           <div>
            <a href="/input" class="btn btn=primary font-weight-bold">moisture</a>
            <a href="/inputph" class="btn btn=primary font-weight-bold">pH-level</a>
          </div>
            </div>
         </div>
        </div>  
       </div>
    </div>
</div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0; background-color: rgb(94, 23, 100);">
    <p>Footer</p>
  </div>  
{% endblock %}


